@import url("https://fonts.cdnfonts.com/css/fixedsys-62");
@import url("https://fonts.cdnfonts.com/css/nitti");

:root {
	--body-font: "Nitti", monospace;
	--heading-font: "Fixedsys 62", monospace;

	--text-color: #151515;
	--background-color: #ffffff;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: var(--body-font);
	background-color: var(--background-color);
}

::selection {
	background-color: var(--text-color);
	color: var(--background-color);
}

.container {
	max-width: 512px;
	min-height: 100dvh;
	text-align: left;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
	padding: 0 20px;
}

h1 {
	font-family: var(--heading-font);
	font-size: 2.25rem;
	user-select: none;
}

p {
	line-height: 1.75;
	text-align: left;
	letter-spacing: 0.5px;
	font-weight: 400;
}

a {
	text-decoration: none;

	&:hover {
		text-decoration: underline;
		text-underline-offset: 0.2em;
		text-decoration-color: var(--text-color);
	}
}

.highlighted {
	display: block;
	width: max-content;
	color: var(--background-color);
	background-color: var(--text-color);
	font-size: 0.75rem;
	padding: 0.5rem 0.75rem;
	user-select: none;

	& a {
		&:hover {
			text-decoration: none;
		}
	}
}
